<div align="center" style="margin-top: 100px;">
<h1 align="center">
  Real Estate Investing Information
</h1>
<h1 align="center">
  That Matters to You.
</h1>
<p style="color: gray; font-size: 18px; margin-top: 3%">
  Limited to the San Francisco Bay Area -- Join our BETA!
</p>
<a [routerLink]="['/signup']">
<input style="margin-top: 7%; padding: 15px; color: red; border-width: 2px; background-color: white; border-color: red; font-size: 12px;" type="button" value="SIGN UP WITH LINKEDIN"/>
</a>
</div>