input[type=text]
{
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid lightslategray;
    background-color: darkslategrey;
    color: aliceblue;
}

input[type=password]
{
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid lightslategray;
    color: darkslategrey;
}